{{ define "yield" }}
<!-- ======= Contact Section ======= -->
<br>
<section id="contact" class="contact">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Log In</h2>
      <p>Welcome Back.</p>
    </div>

    <!-- <div>
            <iframe style="border:0; width: 100%; height: 270px;"
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
                frameborder="0" allowfullscreen></iframe>
        </div> -->

    <div class="row mt-5">

      <div class="col-lg-4">
        <div class="info">
          <div class="address">
            <i class="icofont-google-map"></i>
            <h4>Location:</h4>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>

          <div class="email">
            <i class="icofont-envelope"></i>
            <h4>Email:</h4>
            <p>info@example.com</p>
          </div>

          <div class="phone">
            <i class="icofont-phone"></i>
            <h4>Call:</h4>
            <p>+1 5589 55488 55s</p>
          </div>

        </div>

      </div>

      <div class="col-lg-8 mt-5 mt-lg-0">

        <form action="/login" method="post" role="form">
          <div class="form-group">
          <div class="form-group">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email"
              data-msg="Please enter a valid email" required />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required/>
          </div>
          <div class="text-center"><button class="btn-primary btn-block" type="submit" style="background: #2487ce;
                        border: 0;
                        padding: 10px 30px;
                        color: #fff;
                        transition: 0.4s;
                        border-radius: 4px;">Login</button></div>
        </form>

      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
{{ end }}